/* .mainContainer {
    display: flex;
} */

.sidebar {
    width: 150px;
    margin-right: 20px;
}

.sidebar > ul {
    list-style-type: none;
}

.sidebar a {
    cursor: pointer;
}

.sidebar a:hover {
    background-color: grey;
}