#footer {
    border-top: 1px black solid;
    margin-top: 20px;
}

/* #footer > * {
    margin: 0px;
} */

.contact {
    text-align: center;
    margin: 1rem 0;
}

.myLinks {
    /* margin: 20px; */
    display: flex;
    justify-content: space-evenly;
}

.myLinks > div {
    flex-basis: 20%;
    border: 1px solid black;
    text-align: center;
    /* margin: auto; */
}