#navigator {
    display: grid;
    grid-template-columns: 1fr 150px 150px 1fr;

    padding: 20px;
    border-bottom: 1px black solid;

    margin-bottom: 20px;
}

#navigator > * {
    text-align: center;
}

#navigator > a {
    cursor: pointer;
}

#navigator > a:hover {
    background-color: grey;
}